---
const pageTitle = "Acerca de mi";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
  </head>
  <body>
    <a href="/">Inicio</a>
    <a href="/about">{pageTitle}</a>
    <a href="/blog">Mi blog</a>

    <h1>{pageTitle}</h1>
    <h2>... y mi nuevo sitio de Astro!</h2>
    <p>Estoy emocionadisimo de estar trabajando con Astro</p>
    <p>Voy a sacarle el maximo provecho a este tutorial</p>
  </body>
</html>
