---
import BaseLayout from "../layouts/BaseLayout.astro";
import BlogPost from "../components/BlogPost.astro";
const pageTitle = "Mi blog";
const allPosts = Object.values(import.meta.glob("./posts/*.md", { eager: true }));

---

<BaseLayout pageTitle={pageTitle}>
  <p>Este blog servira como testimonio de como ire mejorando en el tiempo con AstroJS</p>

  <h2>Mis posts:</h2>
  {allPosts.map((post: any) => <BlogPost url={post.url} title={post.frontmatter.title} />)}
</BaseLayout>
