---

---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <a href="/">Inicio</a>
    <a href="/about">Acerca de mi</a>
    <a href="/blog">Mi blog</a>

    <h1>Mi blog</h1>
    <p>Este blog servira como testimonio de como ire mejorando en el tiempo con AstroJS</p>
  </body>
</html>
