---
import Social from "./Social.astro";
---

<style>
  footer {
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
  }
</style>

<footer>
  <p>Follow me in these platforms to check out my projects!:</p>
  <Social platform="facebook" username />
  <Social platform="github" username />
  <Social platform="twitter" username />
</footer>
