---
let { platform, username } = Astro.props;

username = "Frey_EGH";
---

<style>
  a {
    padding: 0.5rem 1rem;
    color: white;
    background-color: #274580;
    text-decoration: none;
    width: fit-content;
  }
</style>

<a href={`https://www.${platform}.com/${username}`}>{platform}</a>
